name: build

on:
  push:
    branches:
    - main
    - release**
    paths-ignore:
      - '**.md'
      - '**.rst'
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.rst'
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 1'

# This will cancel previous run if a newer job that obsoletes the said previous
# run, is started.
# Based on https://github.com/zulip/zulip/commit/4a11642cee3c8aec976d305d51a86e60e5d70522
concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref || github.run_id }}"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}-latest
    # We need an explicit timeout because sometimes the batch_runner test never
    # completes.
    timeout-minutes: 6
    strategy:
      fail-fast: False
      matrix:
        os: [windows, ubuntu, macos]
        python-version: ["3.12"]
        name: [""]
        include:
          - os: ubuntu
            python-version: "3.11"
          - os: ubuntu
            python-version: "3.10"
          - os: ubuntu
            python-version: "3.12"
            pip-pre: "--pre"  # Installs pre-release versions of pip dependencies
            name: "Pre-release dependencies"  # Mainly to test Mesa pre-releases

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: Install uv
      run: pip install uv
    - name: Install Mesa-Geo
      # See https://github.com/astral-sh/uv/issues/1945
      run: uv pip install --system .[dev] ${{ matrix.pip-pre }}
    - name: Test with pytest
      run: pytest --durations=10 --cov=mesa_geo tests/ --cov-report=xml
    - if: matrix.os == 'ubuntu'
      name: Codecov
      uses: codecov/codecov-action@v4
