name: build

on:
  push:
    branches:
    - main
    - release**
    paths-ignore:
      - '**.md'
      - '**.rst'
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.rst'

jobs:
  build:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: False
      matrix:
        os: [windows, ubuntu, macos]
        python-version: ["3.12"]
        include:
          - os: ubuntu
            python-version: "3.11"
          - os: ubuntu
            python-version: "3.10"
          - os: ubuntu
            python-version: "3.9"
          # Disabled for now. See https://github.com/projectmesa/mesa/issues/1253
          #- os: ubuntu
          #  python-version: 'pypy-3.8'

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ matrix.python-version }}-${{ hashFiles('Pipfile.lock') }}
    - name: Install dependencies
      run: pip install wheel && pip install .[dev]
    - name: Test with pytest
      run: pytest --cov=mesa_geo tests/ --cov-report=xml
    - if: matrix.os == 'ubuntu'
      name: Codecov
      uses: codecov/codecov-action@v4
